  // ================= MOBILE ======================

.about {
    background-color: var(--fon-color);
  }
  
  .about-section {
    align-items: center;
  }
  
  .about-section__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: var(--filter-btn-team);
    margin-bottom: 30px;
  }
  
  
  .about-section__heading {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .about-section__text {
    font-weight: 400;
    line-height: 1.71;
    color: var(--p-color);
  }

    .about-section__list:not(:last-child) {
      margin-bottom: 30px;
    }


    // ================= TABLET ======================
   
    @media screen and (min-width: 767px) {
      .about-section {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        align-items: baseline;
      }

      .about-section__list {
        flex-basis: calc((100% - 30px) / 2);
      }

      .about-section__heading {
        text-align: start;
      }

    }

    // ================= DESKTOP ======================
   
    @media screen and (min-width: 1200px){
    
         .about-section__list {
          flex-basis: calc((100% - 90px) / 4);
          }
    }