.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity var(--transition-animation), visibility var(--transition-animation);
    overflow: auto;
  }

  
  
  .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition:  opacity var(--transition-animation), visibility var(--transition-animation);
  
  }