  // ================= MOBILE ======================

  .header-menu {
    display: flex;
    align-items: center;
  }

  .header-menu__link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition: color var(--transition-animation);
    &:hover,
    &:focus {
      color: var(--accent-color);
      transition: color var(--transition-animation);
  }
  }
  
  .header-menu__item:not(:last-child) {
    margin-right: 50px;
  }
  
 .header-menu-contact {
  align-items: center;
 }



 .header-menu-contact__link {
  display: flex;
  align-items: center;
  color: var(--p-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
 
  transition: color var(--transition-animation);
    &:hover,
    &:focus {
      color: var(--accent-color);
      transition: color var(--transition-animation);
  }
}

.header-menu-contact__icon {
  fill: var(--p-color);
  margin-right: 8px;
  transition: fill var(--transition-animation);
    .header-menu-contact__link:hover &,
    .header-menu-contact__link:focus & {
      fill: var(--accent-color);
      transition: fill var(--transition-animation);
    }
}

.header-nav {
  display: flex;
}

.header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--fon-color);
  }

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
} 
  
@media screen and (max-width: 767px) {
  .header-menu {
    display: none;
  }
  .header-menu-contact {
    display: none;
}
}

// ================= TABLET ======================

@media screen and (min-width: 767px) {
  .header-menu-contact__mail {
    margin-bottom: 10px;
   }
}

// ================= DESKTOP ======================

@media screen and (min-width: 1200px) {
  .header-menu-contact {
    display: flex;
    margin-bottom: 0;
    margin-left: auto;
   }
   .header-menu-contact__mail {
    margin-right: 30px;
    margin-bottom: 0;
}
  .header {
    border: 1px solid var(--border-color);
}

.header-nav {
  margin-left: 92px;
}
.header-container {
  justify-content: flex-start;
} 

}