  // ================= MOBILE ======================

.servises {
    padding-top: 0;
    text-align: center;
  }
  
  .servises-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .servises-list__item{
  position: relative;
  }
  
  .servises-list__discr {
    position: absolute;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--fon-color);
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 27px 0;
    z-index: 50;
    overflow: hidden;
  }
    // ================= DESKTOP ======================

  @media screen and (max-width: 1199px){
    .servises {
      display: none;
    } 
      
  }