  // ================= MOBILE ======================

.team {
    background-color: var(--filter-btn-team);
  }
  
 
  
  .team-list__item {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    background-color: var(--fon-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

 .team-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
  
  .team-list__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    margin-bottom: 10px;
    
  }
  
  .team-list__profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17;
    color: var(--p-color);
    margin-bottom: 16px;
    
  }
  

  .team-list__social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .team-list__social-icon {
    fill: var(--color-icons);
    transition: fill var(--transition-animation);
     
      .team-list__social-link:hover &,
      .team-list__social-link:focus & {
        fill: var(--fon-color);
        transition: fill var(--transition-animation);
      }
  }
  
  .team-list__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--fon-color);
    transition: background-color var(--transition-animation);
      &:hover,
      &:focus {
        background-color: var(--accent-color);
        transition: background-color var(--transition-animation);
      }
  }

  .team-list__wrapper {
    padding-top: 30px;
    padding-bottom: 24px;
    text-align: center;
    
  }
  // ================= TABLET ======================

  @media screen and (min-width: 767px) {
    .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .team-list__item {
    flex-basis: calc((100% - 60px) / 1);
    max-width: 354px;
  }

  .team-list__item:not(:last-child) {
    margin-bottom: 0;
  }
  }


// ================= DESKTOP ======================
@media screen and (min-width: 1200px) {

.team-list__item {
  flex-basis: calc((100% - 90px) / 3);
  max-width: 270px;
}

.team-list__wrapper {
  padding-bottom: 30px;
}
}