.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--logo-color);
    // margin-right: 93px;
    padding: 24px 0 25px 0;
  }
  
  .logo_blue {
    color: var(--accent-color);
  }
  
  .logo-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--fon-color);
  }
  
  .logo-footer_blue {
    color: var(--accent-color);
  }