  a.header-menu__link_curent {
  color: var(--accent-color);
    position: relative;
  
  &::after {
      position: absolute;
      content: '';
      left: 0;
      bottom: -32px;  
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--accent-color);
    }
  }

  @media screen and (min-width: 300px) and (max-width:767px) {
    .header-menu__link_curent::after {
      display: none;
    }
    
}