:root {
    --accent-color: #2196f3;
    --fon-color: #ffffff;
    --text-color: #212121;
    --logo-color: #000000;
    --hero-footer-bgr: #2f303a;
    --filter-btn-team: #f5f4fa;
    --p-color: #757575;
    --btn-hover: #188ce8;
    --color-icons: #afb1b8;
    --border-color: #ececec;
    --transition-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }